* {
  color: #2a295a
}

header {
  display: flex;
  flex-direction: column;
}

header .states {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  word-break: break-word
}

.btn {
  cursor: pointer;
  border-bottom: 2px solid;
  width: fit-content;
  text-transform: uppercase;
  margin-right: 8px;
  color: #3f51b5;
  text-decoration: none;
}

.btn.active {
  color: red
}
.states .btn { margin-bottom: 8px}
.border-bottom {border-bottom: 2px solid #3f51b5;}
.no-decoration {text-decoration: none;}
.title {
  margin-bottom: 8px;
  font-size: 18px;
}

th {
  text-align: left;
}

a {
  color: #3f51b5
}

.body-btn-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px
}

.call-script-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background: #3f51b5;
  padding: 16px
}
.call-script-btn a { color: white }

.call-script {
  border: 1px solid;
  padding: 8px;
  background: floralwhite
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.email {
  width: 400px
}

.small {
  width: 35px
}

table tr {
  border-bottom: 1px solid #ddd;
}

table th,
table td {
  padding: .2em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0
  }
  .email {
    width: auto
  }
  .small {
    width: auto
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

.email-signup {
  background: #dcdbdb;
  padding: 16px
}